* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #294d4a;
}

#root {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  height: 100%;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#add-div {
  text-align: center;
  width: 80%;
}

.title {
  height: 30px;
  margin: 20px 5px;
  width: 30%;
}

.description {
  vertical-align: top;
}

#add-btn {
  margin: 20px;
  padding: 5px 10px;
  font-size: 15px;
  border: solid 1px #ccc;
  width: 150px;
  margin-top: 30px;
  /* transform: translate(-50%,-50%); */
}

#notes-list {
  align-self: end;
  margin: 20px 5px;
  padding: 20px 3px;
}

#notes-list button,
#edit-note button {
  width: 70px;
  height: 30px;
}

#notes-list .delete {
  border: 2px solid red;
}

.hide {
  display: none;
}
